<% background_class = "users-box-user-bg#{user.id % 5}" %>
<% nickname_letter = user.nickname.first.upcase %>

<div class="users-box-user rounded mr ml" style="border-color: <%= user.header_color %>;">
  <a href="<%= user_path(user) %>">
    <%= image_tag user.gravatar_url, title: display_nickname(user), class: "rounded" %>
  </a>
</div>
