.users-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-box-user {
  flex-basis: 100px;
  flex-grow: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 3px solid;
}

.users-box-user a {
  color: #000000;
  text-decoration: none;
}
